<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Auto_Layout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FAD94EF21C48E71900EC0C46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAD94F061C48E71A00EC0C46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAD94F111C48E71A00EC0C46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
